body{
    margin: 0px;
}
.hero{
    /* background-image: url(/photos/pexels-cátia-matos-1072179.jpg); */
    height: 500px;
    padding: 10px 10px 0px 10px;
    
}
nav a{
    text-decoration: none;
    color: rgb(156, 150, 142);
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.hero img{
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
}
nav a:hover{
    color: #fff;
    border-radius: 10px;
}
.social-links{
    padding-left: 10px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    
}