body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero{
    background-image: url(/photos/pexels-cátia-matos-1072179.jpg);
    height: 600px;
    padding: 10px 10px 0px 10px;
    
}
nav a{
    text-decoration: none;
    color: rgb(156, 150, 142);
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.hero img{
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
}
nav a:hover{
    color: orangered;
    border-radius: 10px;
}
.social-mid{
    display: flex;
    height: 600px;
}
.social-links{
    padding-left: 10px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}
.social-links a{
    color: gray;
    margin: 10px;
    text-decoration: none;
}
.mid-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 10px 0px 20px;
}
.mid-section h1{
    margin: 0px;
}
.mid-section p{
    margin: 0px;
    padding-top: 50px;
}
.mid-section button{
    margin-top: 200px;
    margin-left: 400px;
    
}

/*page two styles*/
.page-two{
    
}
.page-two-top{
    display:flex;
    padding: 20px 10px 10px 16px;
}
.page-two-top hr{
    width: 87%;
    height: 2px;
    border: 2px solid orangered;
    background-color: orangered;
    margin-top: 28px;
}
.cards{
    display: flex;
    align-items: center;
    height: 75vh;
}
.card{
    height: 50%;
    background-color: #fda172;
}
/*page three > images page styles*/
.page-three-top{
    display: flex;
    padding: 30px;
}
.page-three-top hr{
    width: 80%;
    height: 2px;
    border: 2px solid orangered;
    background-color: orangered;
    margin-top: 30px;
}
.images-page{
    display: flex;
    overflow: hidden;
    padding: 20px 10px 10px 16px;
}
.images-page img{
    height: 600px;
    width: 220px;
}
.images-page img:hover{
    transform: scale(1.5);
    transition: 0.5s;
    cursor: pointer;
}
.see-all hr{
    width: 90%;
    border: 2px solid orangered;
    background-color: orangered;
    padding: 0px 10px 0px 0px;
    
}
.see-all button{
    border: 2px solid orangered;
    width: 100px;
    height: 20px;
    background-color: orangered;
}
.see-all{
    display: flex;
    padding: 40px 40px 20px 0px;
    
}
/* .page-four-top{
    display: flex;
    padding: 40px 0px 20px 0px;
} */
/* .page-four-top hr{
    width: 90%;
    height: 2px;
    border: 2px solid orangered;
    background-color: orangered; */
/* } */
.prices{
    display: flex;
    justify-content: space-evenly;
    padding:40px;
}
.prices-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
    background-color: #fda172;
    padding: 20px 10px 10px 10px;
    border-radius: 10px;
}
/*last page*/
.last-page-top{
    display: flex;
    
}
.last-page-top hr{
    width: 80%;
    border: 2px solid orangered;
    height: 2px;
    margin-top: 25px;
    background-color: orangered;
}
.last-page-middle{
    display: flex;
    justify-content: center;
}