body{
    margin: 0px;
}
.hero{
    background-image: url(/photos/pexels-cátia-matos-1072179.jpg);
    height: 600px;
    padding: 10px 10px 0px 10px;
    
}
nav a{
    text-decoration: none;
    color: rgb(156, 150, 142);
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}
.hero img{
    width: 50px;
    padding-left: 20px;
    padding-top: 20px;
}
nav a:hover{
    color: #fff;
    border-radius: 10px;
}
.social-mid{
    display: flex;
    height: 600px;
}
.social-links{
    padding-left: 10px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}
.social-links a{
    color: gray;
    margin: 10px;
    text-decoration: none;
}
.mid-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 150px 10px 0px 20px;
}
.mid-section h1{
    margin: 0px;
}
.mid-section p{
    margin: 0px;
    padding-top: 50px;
}
.mid-section button{
    margin-top: 200px;
    margin-left: 400px;
    
}
.images-page img{
    height: 600px;
    width: 210px;
}